.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}


.page-header {
  margin-top: 32px;
  margin-bottom: 32px;
  
}

.search-bar {
  margin-bottom: 32px;
  display: flex;
  position: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.search-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  /* background-image: linear-gradient(-225deg, #12c2e9 0%, #c471ed 48%, #4801ff 100%); */
  color: #e2e2e2;
}

.search-input::placeholder {
  color: #e2e2e2;
}

.search-row {
  display: flex;
  justify-content: space-between;
}